body {
    margin: 0;
    padding: 0;
    background-color: #E46B6C;
    font-family: Arial, Helvetica, sans-serif;
}

#background {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #E46B6C;
    overflow: hidden;
    z-index: -100;
}

#container {
    width: 1130px;
    height: 700px;
    background: rgba(253, 238, 178, 0.85);
    position: absolute;
    left: 50%;
    right: 50%;
    top: 50%;
    bottom: 50%;
    margin-left: -565px;
    margin-top: -350px;
    box-shadow: 0 0 5px 0 #FDEEB2;
    z-index: -2;
}

#container::before,
#container::after {
    content: "";
    position: absolute;
    width: 1150px;
    height: 14px;
    border-radius: 7px;
    background-size: 50px 15px;
    background-image: linear-gradient(-45deg, #BF313F 25%, white 25%, white 75%, #BF313F 75%);
    z-index: -1;
}

#container::before {
    left: 0;
    top: 0;
    margin-left: -10px;
    margin-top: -7px;
    box-shadow: 0 -1px 1px 0 #BF313F, 1px 0 1px 0 #BF313F, -1px 0 1px 0 #BF313F;
}

#container::after {
    right: 0;
    bottom: 0;
    margin-right: -10px;
    margin-bottom: -7px;
    box-shadow: 0 1px 1px 0 #BF313F, 1px 0 1px 0 #BF313F, -1px 0 1px 0 #BF313F;
}

#title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 550px;
    height: 60px;
    background: #F0F0F0;
    margin: -30px auto 0;
    border-radius: 10px;
}

#title img {
    height: 30px;
    margin-right: 10px;
}

#title div {
    font-size: 30px;
    margin-bottom: 3px;
}

#content {
    position: relative;
    width: 900px;
    height: 540px;
    margin: 30px auto;
}

.vanish {
    transition: 0.3s;
    opacity: 0;
    visibility: hidden;
}

#bigcard {
    position: absolute;
    left: 50%;
    width: 700px;
    margin-left: -350px;
    top: 50%;
    height: 440px;
    margin-top: -220px;
    background: white;
}

#bigcard .to,
#bigcard .from {
    height: 60px;
    font-size: 24px;
    line-height: 60px;
    padding: 0 40px;
}

#bigcard .to .towhom,
#bigcard .from .fromwhom {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: inherit;
    border: none;
    padding: 0;
    outline: none;
    color: inherit;
    background: transparent;
    font-size: inherit;
    line-height: inherit;
}

#bigcard .to {
    background: #F4C4C4;
}

#bigcard .to .label {
    float: left;
    width: 40px;
}

#bigcard .to .towhom {
    float: left;
    width: 580px;
}

#bigcard .from .label {
    float: right;
    width: 70px;
}

#bigcard .from .fromwhom {
    float: right;
}

#bigcard.show .from .fromwhom {
    max-width: 260px;
}

#bigcard.intro .from .fromwhom {
    max-width: 550px;
}

#bigcard.new .from .fromwhom {
    width: 550px;
}

#bigcard .from .comment {
    height: 60px;
    display: flex;
    align-items: center;
}

#bigcard .from .comment img {
    height: 30px;
    cursor: pointer;
}

#bigcard .from .comment img:hover {
    transform: scale(1.2);
}

#bigcard .from .comment div {
    height: 60px;
    line-height: 60px;
    min-width: 50px;
    max-width: 90px;
    margin: 0 10px;
    text-align: left;
}

#bigcard .say {
    height: 320px;
    overflow: hidden;
}

#bigcard .say textarea {
    width: 620px;
    height: 300px;
    padding: 0 40px 10px 40px;
    margin: 10px 0 0 0;
    resize: none;
    font-size: 20px;
    border: none;
    background: transparent;
    color: black;
    font-family: inherit;
}

#bigcard .say textarea.scroll {
    width: 640px;
    padding: 0 60px 10px 40px;
}

#bigcard .say textarea:focus {
    outline: none;
}

#bigcard .content {
    height: 60px;
    font-size: 24px;
    line-height: 60px;
    padding: 0 40px;
    background: #F4C4C4;
}

#bigcard .content div {
    height: inherit;
    background: transparent;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    float: left;
}

#bigcard .content div:first-child {
    max-width: 520px;
}

#bigcard .content div:last-child {
    width: 100px;
    text-align: center;
}

#bigcard .commentlist {
    height: 320px;
    font-size: 20px;
    overflow-y: scroll;
}

#bigcard .commentlist div {
    padding: 10px 40px;
    word-wrap: break-word;
}

#bigcard .commentlist div:hover {
    background: #F0F0F0;
    transition: 0.3s;
}

#bigcard .addcomment {
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#bigcard .addcomment textarea {
    width: 550px;
    height: 45px;
    padding: 5px;
    border: none;
    box-shadow: 0 0 0 1px #F0F0F0;
    resize: none;
    float: left;
    font-family: inherit;
    font-size: 16px;
    color: inherit;
}

#bigcard .addcomment div {
    float: left;
    font-size: 20px;
    width: 50px;
    height: 50px;
    background: #F0F0F0;
    margin-right: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

#cardgroup {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.card {
    position: relative;
    background: white;
    width: 260px;
    height: 230px;
}

.card .to,
.card .from {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
    cursor: pointer;
}

.card .to {
    background: #F4C4C4;
}

.card .from {
    text-align: right;
}

.card .say {
    height: 120px;
    overflow: hidden;
    cursor: pointer;
}

.card .say textarea {
    width: 220px;
    height: 100px;
    padding: 0 20px 10px 20px;
    margin: 10px 0 0 0;
    resize: none;
    font-size: 16px;
    border: none;
    background: transparent;
    color: black;
    font-family: inherit;
    cursor: pointer;
}

.card .say textarea.scroll {
    width: 240px;
}

.card .say textarea:focus {
    outline: none;
}

.card .comment {
    height: 30px;
    padding: 0 20px;
    display: flex;
    align-items: center;
}

.card .comment img {
    height: 20px;
    cursor: pointer;
}

.card .comment img:hover {
    transform: scale(1.2);
}

.card .comment div {
    height: 20px;
    line-height: 20px;
    font-size: 16px;
    min-width: 50px;
    max-width: 80px;
    margin: 0 5px;
    text-align: left;
}

#control {
    position: absolute;
    bottom: 0;
    left: 100px;
    right: 100px;
    width: 800px;
    height: 40px;
    margin: 30px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn {
    width: 130px;
    height: 30px;
    font-size: 20px;
    background: #eee;
    border-radius: 3px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 30px;
    cursor: pointer;
}

#dots {
    display: flex;
    align-items: center;
    justify-content: center;
}

#dots div {
    width: 10px;
    height: 10px;
    background: rgb(145, 145, 145);
    border-radius: 10px;
    margin: 0 7px;
    cursor: pointer;
    transition: 0.3s;
}

#dots div:hover {
    transform: scale(1.3);
}

#dots div.active {
    background: rgb(97, 97, 97);
    transform: scale(1.3);
}

#pop {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(255, 252, 252, 0.8);
}

#pop div {
    width: 500px;
    height: 240px;
    text-align: center;
    font-size: 18px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -250px;
    margin-top: -120px;
    background: white;
    border-radius: 5px;
    box-shadow: 0 0 0 5px rgba(195, 195, 255, 0.8);
}

#pop div::before {
    content: "Oops!!";
    text-align: left;
    background: rgba(195, 195, 255, 0.8);
    display: block;
    font-size: 24px;
    padding: 10px 30px;
}

#pop div::after {
    content: "×";
    position: absolute;
    font-size: 30px;
    line-height: 44px;
    right: 20px;
    top: 0px;
}

.spinner {
    margin: 100px auto;
    width: 60px;
    height: 60px;
    margin-left: -30px;
    margin-top: -30px;
    position: absolute;
    left: 50%;
    top: 50%;
}

.container1>div,
.container2>div,
.container3>div {
    width: 15px;
    height: 15px;
    background-color: #E46B6C;
    border-radius: 100%;
    position: absolute;
    -webkit-animation: bouncedelay 1.2s infinite ease-in-out;
    animation: bouncedelay 1.2s infinite ease-in-out;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.spinner .spinner-container {
    position: absolute;
    width: 100%;
    height: 100%;
}

.container2 {
    -webkit-transform: rotateZ(45deg);
    transform: rotateZ(45deg);
}

.container3 {
    -webkit-transform: rotateZ(90deg);
    transform: rotateZ(90deg);
}

.circle1 {
    top: 0;
    left: 0;
}

.circle2 {
    top: 0;
    right: 0;
}

.circle3 {
    right: 0;
    bottom: 0;
}

.circle4 {
    left: 0;
    bottom: 0;
}

.container2 .circle1 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
}

.container3 .circle1 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

.container1 .circle2 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

.container2 .circle2 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
}

.container3 .circle2 {
    -webkit-animation-delay: -0.7s;
    animation-delay: -0.7s;
}

.container1 .circle3 {
    -webkit-animation-delay: -0.6s;
    animation-delay: -0.6s;
}

.container2 .circle3 {
    -webkit-animation-delay: -0.5s;
    animation-delay: -0.5s;
}

.container3 .circle3 {
    -webkit-animation-delay: -0.4s;
    animation-delay: -0.4s;
}

.container1 .circle4 {
    -webkit-animation-delay: -0.3s;
    animation-delay: -0.3s;
}

.container2 .circle4 {
    -webkit-animation-delay: -0.2s;
    animation-delay: -0.2s;
}

.container3 .circle4 {
    -webkit-animation-delay: -0.1s;
    animation-delay: -0.1s;
}

@-webkit-keyframes bouncedelay {
    0%,
    80%,
    100% {
        -webkit-transform: scale(0.0)
    }
    40% {
        -webkit-transform: scale(1.0)
    }
}

@keyframes bouncedelay {
    0%,
    80%,
    100% {
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    }
    40% {
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
    }
}

#footer {
    font-size: 16px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

#footer div {
    text-align: center;
    text-decoration: none;
    opacity: 0.7;
}

#footer div,
#footer div a {
    color: black;
}

#footer div img {
    height: 16px;
    vertical-align: text-top;
}