textarea {
    width: 300px;
    height: 100px;
    resize: none;
}

#submit,
#deploy {
    width: 300px;
    height: 40px;
    line-height: 40px;
    border: 1px solid;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
}