body {
    margin: 0;
    padding: 0;
    background-color: #E46B6C;
    font-family: Arial, Helvetica, sans-serif;
}

#container {
    width: 1000px;
    height: 650px;
    background: #FDEEB2;
    position: absolute;
    left: 50%;
    right: 50%;
    top: 50%;
    bottom: 50%;
    margin-left: -500px;
    margin-top: -325px;
    box-shadow: 0 0 5px 0 #FDEEB2;
    z-index: -2;
}

#container::before,
#container::after {
    content: "";
    position: absolute;
    width: 1020px;
    height: 14px;
    border-radius: 7px;
    background-size: 50px 15px;
    background-image: linear-gradient(-45deg, #BF313F 25%, white 25%, white 75%, #BF313F 75%);
    z-index: -1;
}

#container::before {
    left: 0;
    top: 0;
    margin-left: -10px;
    margin-top: -7px;
    box-shadow: 0 -1px 1px 0 #BF313F, 1px 0 1px 0 #BF313F, -1px 0 1px 0 #BF313F;
}

#container::after {
    right: 0;
    bottom: 0;
    margin-right: -10px;
    margin-bottom: -7px;
    box-shadow: 0 1px 1px 0 #BF313F, 1px 0 1px 0 #BF313F, -1px 0 1px 0 #BF313F;
}

#title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 60px;
    background: #f0f0f0;
    margin: -30px auto 0;
    border-radius: 10px;
}

#title img {
    height: 30px;
    margin-right: 10px;
}

#title div {
    font-size: 30px;
    margin-bottom: 3px;
}

#content {
    position: relative;
    width: 800px;
    height: 482px;
    margin: 30px auto;
}

.vanish {
    transition: 0.3s;
    opacity: 0;
    visibility: hidden;
}

#bigcard {
    position: absolute;
    left: 100px;
    right: 100px;
    top: 51px;
    bottom: 51px;
    background: white;
}

#bigcard::before {
    content: "";
    position: absolute;
    width: 80px;
    height: 80px;
    left: -40px;
    top: -40px;
    background-image: url(../img/iconfont-heart.svg);
    background-size: 80px 80px;
}

#bigcard .to,
#bigcard .from {
    height: 60px;
    font-size: 24px;
    line-height: 60px;
    padding: 0 40px;
}

#bigcard .to .towhom,
#bigcard .from .fromwhom {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: inherit;
    font-family: inherit;
    height: inherit;
    border: none;
    padding: 0;
    outline: none;
    color: inherit;
    background: transparent;
}

#bigcard .to {
    background: rgb(195, 195, 255);
}

#bigcard .to .label {
    float: left;
    width: 40px;
}

#bigcard .to .towhom {
    float: left;
    width: 480px;
}

#bigcard .from .label {
    float: right;
    width: 70px;
}

#bigcard .from .fromwhom {
    float: right;
    max-width: 450px;
}

#bigcard .from input.fromwhom {
    width: 450px;
}

#bigcard .say {
    height: 270px;
    overflow-x: hidden;
    margin-bottom: -10px;
}

#bigcard .say textarea {
    width: 550px;
    height: 240px;
    padding: 10px 40px;
    resize: none;
    font-size: 20px;
    border: none;
    background: transparent;
    color: black;
    font-family: inherit;
}

#bigcard .say textarea:focus {
    outline: none;
}

#cardgroup {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.card {
    position: relative;
    background: white;
    width: 210px;
    height: 200px;
    cursor: pointer;
}

.card::before {
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    left: 0;
    top: 0;
    margin-left: -20px;
    margin-top: -20px;
    background-image: url(../img/iconfont-heart.svg);
    background-size: 40px 40px;
}

.card .to,
.card .from {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
}

.card .to {
    background: rgb(195, 195, 255);
}

.card .to::before {
    content: "To: ";
}

.card .from {
    text-align: right;
}

.card .from::before {
    content: "From: ";
}

.card .say {
    height: 130px;
    overflow-x: hidden;
    margin-bottom: -10px;
}

.card .say textarea {
    width: 190px;
    height: 100px;
    padding: 10px 20px;
    resize: none;
    font-size: 16px;
    border: none;
    background: transparent;
    color: black;
    font-family: inherit;
    cursor: pointer;
}

#card .say textarea:focus {
    outline: none;
}

#control {
    position: absolute;
    bottom: 0;
    left: 100px;
    right: 100px;
    width: 800px;
    height: 40px;
    margin: 30px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn {
    width: 130px;
    height: 30px;
    font-size: 20px;
    background: #eee;
    border-radius: 3px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 30px;
    cursor: pointer;
}

#dots {
    display: flex;
    align-items: center;
    justify-content: center;
}

#dots div {
    width: 10px;
    height: 10px;
    background: rgb(145, 145, 145);
    border-radius: 10px;
    margin: 0 5px;
    cursor: pointer;
}

#dots div.active {
    background: rgb(97, 97, 97);
    width: 12px;
    height: 12px;
    margin: 0 4px;
}

#pop {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(255, 252, 252, 0.8);
}

#pop div {
    width: 500px;
    height: 240px;
    text-align: center;
    font-size: 18px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -250px;
    margin-top: -120px;
    background: white;
    border-radius: 5px;
    box-shadow: 0 0 0 5px rgba(195, 195, 255, 0.8);
}

#pop div::before {
    content: "Oops!!";
    text-align: left;
    background: rgba(195, 195, 255, 0.8);
    display: block;
    font-size: 24px;
    padding: 10px 30px;
}